<!-- <button mat-raised-button color="primary">Primary</button>
<button mat-icon-button color="primary">
  <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
</button> -->

<div class="container">
  <h3>Botones Basicos</h3>
  <button mat-button>Basico</button>
  <button mat-button color="primary">Primario</button>

  <h3>Botones con Relieve</h3>
  <button mat-raised-button>Basico</button>
  <button mat-raised-button color="primary">Primario</button>
  <button mat-raised-button color="accent">Warning</button>

  <h3>Botones con Trazo(Sin Relieve)</h3>
  <button mat-stroked-button>Basico</button>
  <button mat-stroked-button color="primary">Primario</button>
  <button mat-stroked-button color="accent">Warning</button>
  <a mat-stroked-button>Link</a>

  <h3>Botones Planos</h3>
  <button mat-flat-button>Basico</button>
  <button mat-flat-button color="primary">Primario</button>
  <button mat-flat-button color="primary" disabled>Primario Deshabilitado</button>
  <button mat-flat-button color="accent">Warning</button>
  <a mat-flat-button>Link</a>

</div>
