<div class="container">
  <h3>Botones con Icono</h3>
  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button color="primary">
    <mat-icon>build</mat-icon>
  </button>
  <button mat-icon-button color="accent">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-icon-button color="warn">
    <mat-icon>lock</mat-icon>
  </button>

  <h3>Botones Circulares con Elevacion: Fab Buttons</h3>
  <button mat-fab>
    <mat-icon>call</mat-icon>
  </button>
  <button mat-fab color="primary">
    <mat-icon>room</mat-icon>
  </button>

  <h3>Mini Fab Buttons</h3>
  <button mat-mini-fab>
    <mat-icon>call</mat-icon>
  </button>
  <button mat-mini-fab color="primary">
    <mat-icon>room</mat-icon>
  </button>

  <h3>Solo Iconos</h3>
  <mat-icon>home</mat-icon>
  <mat-icon color="primary">thumb_up</mat-icon>
  <mat-icon color="accent">thumb_down</mat-icon>


</div>
